
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-94_1196 {
        width: 100%;
height: 1681rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(255, 255, 255, 1);
background-image: linear-gradient(90deg, rgba(247, 249, 251, 1) 0%, rgba(247, 249, 251, 1) 100%);
      }
.frame-content-94_1196 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 40rpx 0px;
height: 100%;
position: relative;
      }
.Pixso-frame-94_1197 {
        width: 773rpx;
height: 1681rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
max-width: 985rpx;
      }
.frame-content-94_1197 {
        display: flex;
flex-direction: column;
gap: 46rpx;
align-items: flex-start;
max-width: 985rpx;
padding: 185rpx 46rpx 0px 46rpx;
height: 100%;
position: relative;
      }
.Pixso-frame-94_1198 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
box-shadow: 0px 8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
background-color: rgba(242, 244, 246, 1);
      }
.frame-content-94_1198 {
        display: flex;
flex-direction: column;
gap: 46rpx;
align-items: flex-start;
padding: 46rpx 46rpx 46rpx 46rpx;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-94_1198 {
        position: absolute;
left: 0px;
top: 119rpx;
width: 773rpx;
height: 556rpx;
display: flex;
padding: 1px 1px 1px 1px;
      }
.stroke-94_1198 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(242, 244, 246, 1);
      }
.Pixso-frame-94_2289 {
        width: 465rpx;
height: 471rpx;
overflow: hidden;
position: absolute;
left: 133rpx;
top: 61rpx;
      }
.Pixso-vector-94_2290 {
        width: 84.3%;
height: 89.39%;
background-image: url(@/assets/images/Group_94_2290.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 10.74%;
right: 4.96%;
top: 6.53%;
bottom: 4.08%;
      }
.Pixso-vector-94_1200 {
        width: 48rpx;
height: 48rpx;
background-image: url(@/assets/images/Bace3Iconchevronleft0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 27rpx;
top: 21rpx;
      }
.Pixso-paragraph-94_1203 {
        font-size: 38rpx;
font-family: "Noto Sans SC-Regular";
font-weight: 400;
color: rgba(0, 0, 0, 1);
width: 373rpx;
height: 52rpx;
position: absolute;
left: 225rpx;
top: 17rpx;
      }
.Pixso-vector-94_1204 {
        width: 75rpx;
height: 75rpx;
background-image: url(@/assets/images/Group_94_1204.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 302rpx;
top: 288rpx;
      }
.Pixso-frame-94_1228 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 62rpx 62rpx 62rpx 62rpx;
box-shadow: 0px 8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-94_1228 {
        display: flex;
flex-direction: column;
gap: 31rpx;
align-items: flex-start;
padding: 46rpx 46rpx 46rpx 46rpx;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-94_1228 {
        position: absolute;
left: 10rpx;
top: 873rpx;
width: 754rpx;
height: 471rpx;
display: flex;
padding: 1px 1px 1px 1px;
      }
.stroke-94_1228 {
        position: absolute;
inset: 0px;
border-radius: 62rpx 62rpx 62rpx 62rpx;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.Pixso-frame-94_1229 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-94_1229 {
        display: flex;
flex-direction: row;
gap: 38rpx;
align-items: center;
justify-content: flex-start;
padding: 46rpx 0px 0px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-94_1229 {
        position: absolute;
left: 46rpx;
top: 267rpx;
width: 662rpx;
height: 160rpx;
display: flex;
padding: 1px 0px 0px 0px;
      }
.stroke-94_1229 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(241, 245, 249, 1);
      }
.Pixso-vector-94_1312 {
        width: 85rpx;
height: 42rpx;
background-image: url(@/assets/images/Group_94_1312.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 577rpx;
top: 48rpx;
      }
.Pixso-paragraph-94_1233 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(115, 116, 117, 1);
white-space: pre-wrap;
width: 331rpx;
height: 63rpx;
position: absolute;
left: 0px;
top: 90rpx;
      }
.Pixso-paragraph-94_1234 {
        font-size: 31rpx;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(25, 28, 30, 1);
width: 217rpx;
height: 58rpx;
position: absolute;
left: 0px;
top: 35rpx;
      }
.Pixso-paragraph-94_1315 {
        font-size: 31rpx;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(1, 89, 188, 1);
width: auto;
height: auto;
position: absolute;
left: 456rpx;
top: 46rpx;
white-space: pre;
flex-grow: 0;
      }
.Pixso-group-94_1235 {
        width: 360rpx;
height: 198rpx;
position: absolute;
left: 83rpx;
top: 46rpx;
      }
.Pixso-vector-94_1236 {
        width: 135rpx;
height: 135rpx;
background-image: url(@/assets/images/Group_94_1236.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 225rpx;
top: 0px;
      }
.Pixso-paragraph-94_1246 {
        font-size: 27rpx;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(1, 89, 188, 1);
width: 87rpx;
height: 63rpx;
position: absolute;
left: 20rpx;
top: 135rpx;
      }
.Pixso-paragraph-94_1248 {
        font-size: 27rpx;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(1, 89, 188, 1);
width: 104rpx;
height: 63rpx;
position: absolute;
left: 240rpx;
top: 135rpx;
      }
.Pixso-vector-94_1249 {
        width: 135rpx;
height: 135rpx;
background-image: url(@/assets/images/Container26.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 1px;
      }
.Pixso-frame-99_373 {
        width: 692rpx;
height: 146rpx;
position: absolute;
left: 40rpx;
top: 689rpx;
      }
.Pixso-rectangle-99_374 {
        width: 144rpx;
height: 144rpx;
position: absolute;
left: 183rpx;
top: 0px;
border-radius: 29rpx 29rpx 29rpx 29rpx;
background-color: rgba(255, 255, 255, 1);
      }
.Pixso-vector-99_375 {
        width: 33rpx;
height: 42rpx;
background-image: url(@/assets/images/Container25.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -88rpx)) translateY(calc(-50% + -14rpx));
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-rectangle-99_377 {
        width: 144rpx;
height: 144rpx;
position: absolute;
left: 365rpx;
top: 0px;
border-radius: 29rpx 29rpx 29rpx 29rpx;
background-color: rgba(255, 255, 255, 1);
      }
.Pixso-frame-99_378 {
        width: 48rpx;
height: 48rpx;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 91rpx)) translateY(calc(-50% + -14rpx));
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-99_378 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4rpx 0px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-99_379 {
        width: 48rpx;
height: 46rpx;
background-image: url(@/assets/images/Container24.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.Pixso-vector-99_381 {
        width: 144rpx;
height: 144rpx;
background-image: url(@/assets/images/Vector_99_381.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 548rpx;
top: 5rpx;
      }
.Pixso-vector-99_382 {
        width: 48rpx;
height: 41rpx;
background-image: url(@/assets/images/Container23.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 274rpx)) translateY(calc(-50% + -14rpx));
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-paragraph-99_384 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(255, 255, 255, 1);
width: 117rpx;
height: auto;
position: absolute;
left: 560rpx;
top: 88rpx;
      }
.Pixso-group-99_385 {
        width: 144rpx;
height: 144rpx;
position: absolute;
left: -1px;
top: 0px;
      }
.Pixso-rectangle-99_386 {
        width: 144rpx;
height: 144rpx;
position: absolute;
left: 0px;
top: 0px;
border-radius: 29rpx 29rpx 29rpx 29rpx;
background-color: rgba(255, 255, 255, 1);
      }
.Pixso-vector-99_387 {
        width: 10.56%;
height: 40rpx;
background-image: url(@/assets/images/timeline0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.72%;
right: 84.72%;
top: 50%;
transform: translateY(calc(-50% + -14rpx));
      }
.Pixso-paragraph-99_389 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(115, 116, 117, 1);
width: 85rpx;
height: 63rpx;
position: absolute;
left: 25rpx;
top: 79rpx;
      }
.Pixso-paragraph-99_390 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(115, 116, 117, 1);
width: 85rpx;
height: 63rpx;
position: absolute;
left: 392rpx;
top: 80rpx;
      }
.Pixso-paragraph-99_391 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(115, 116, 117, 1);
width: 92rpx;
height: auto;
position: absolute;
left: 206rpx;
top: 88rpx;
      }
.Pixso-frame-94_1255 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
box-shadow: 0px 8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
backdrop-filter: blur(15rpx);
background-color: rgba(255, 255, 255, 0.800000011920929);
      }
.frame-content-94_1255 {
        display: flex;
flex-direction: row;
gap: 324rpx;
align-items: center;
justify-content: flex-start;
padding: 0px 46rpx 0px 46rpx;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-94_1255 {
        position: absolute;
left: 0px;
top: 0px;
width: 773rpx;
height: 123rpx;
display: flex;
padding: 0px 0px 1px 0px;
      }
.stroke-94_1255 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(226, 232, 240, 0.5);
      }
.Pixso-frame-94_1256 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 23rpx;
align-items: center;
      }
.Pixso-vector-94_1257 {
        width: 42rpx;
height: 35rpx;
background-image: url(@/assets/images/Container22.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-frame-94_1259 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-paragraph-94_1260 {
        font-size: 38rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: -0.5px;
line-height: 54rpx;
color: rgba(15, 23, 42, 1);
width: 187rpx;
height: 54rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1261 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
box-shadow: 0px 8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
backdrop-filter: blur(15rpx);
background-color: rgba(255, 255, 255, 0.800000011920929);
      }
.frame-content-94_1261 {
        display: flex;
flex-direction: row;
gap: 324rpx;
align-items: center;
justify-content: flex-start;
padding: 0px 46rpx 0px 46rpx;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-94_1261 {
        position: absolute;
left: 0px;
top: 0px;
width: 773rpx;
height: 123rpx;
display: flex;
padding: 0px 0px 1px 0px;
      }
.stroke-94_1261 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(226, 232, 240, 0.5);
      }
.Pixso-frame-94_1262 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 23rpx;
align-items: center;
      }
.Pixso-frame-94_1263 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-paragraph-94_1264 {
        font-size: 38rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: -0.5px;
line-height: 54rpx;
color: rgba(15, 23, 42, 1);
width: 225rpx;
height: 54rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-94_1265 {
        width: 38rpx;
height: 38rpx;
background-image: url(@/assets/images/Bace3Iconchevrondown0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 265rpx;
top: 48rpx;
      }
.Pixso-vector-99_755 {
        width: 31rpx;
height: 31rpx;
background-image: url(@/assets/images/IconsPlus1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 710rpx;
top: 46rpx;
      }
.Pixso-frame-94_1272 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 46rpx 46rpx 0px 0px;
box-shadow: 0px -8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
backdrop-filter: blur(15rpx);
background-color: rgba(255, 255, 255, 0.800000011920929);
      }
.frame-content-94_1272 {
        display: flex;
flex-direction: row;
gap: 112rpx;
align-items: center;
justify-content: center;
padding: 23rpx 71rpx 46rpx 71rpx;
width: 100%;
position: relative;
      }
.stroke-wrapper-94_1272 {
        position: absolute;
left: 0px;
bottom: 0px;
width: 773rpx;
height: auto;
display: flex;
padding: 1px 0px 0px 0px;
      }
.stroke-94_1272 {
        position: absolute;
inset: 0px;
border-radius: 46rpx 46rpx 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(226, 232, 240, 0.5);
      }
.Pixso-frame-94_1273 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15rpx 38rpx 15rpx 38rpx;
border-radius: 31rpx 31rpx 31rpx 31rpx;
      }
.Pixso-frame-99_1402 {
        width: 137rpx;
height: 102rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 31rpx 31rpx 31rpx 31rpx;
background-color: rgba(239, 246, 255, 1);
      }
.frame-content-99_1402 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 15rpx 38rpx 15rpx 38rpx;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-99_1403 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15rpx 38rpx 15rpx 38rpx;
      }
.Pixso-vector-99_1404 {
        width: 31rpx;
height: 35rpx;
background-image: url(@/assets/images/Container21.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-frame-99_1406 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8rpx 0px 0px 0px;
      }
.Pixso-paragraph-99_1407 {
        font-size: 19rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.5px;
line-height: 29rpx;
text-transform: uppercase;
color: rgba(0, 122, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-94_1279 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12rpx 37rpx 0px 38rpx;
      }
.Pixso-frame-94_1280 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8rpx 0px 0px 0px;
      }
.Pixso-vector-94_1281 {
        width: 58rpx;
height: 58rpx;
background-image: url(@/assets/images/tvmusicnotem0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
margin-bottom: -1px;
      }
.Pixso-paragraph-94_1283 {
        font-size: 19rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.5px;
line-height: 29rpx;
text-transform: uppercase;
color: rgba(148, 163, 184, 1);
margin-top: -1px;
width: 62rpx;
height: 29rpx;
position: relative;
flex-shrink: 0;
margin-bottom: -1px;
      }
.Pixso-frame-94_1284 {
        width: 62rpx;
height: 29rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.Pixso-frame-94_1285 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15rpx 38rpx 15rpx 38rpx;
      }
.Pixso-frame-94_1286 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8rpx 0px 0px 0px;
      }
.Pixso-frame-94_1287 {
        width: 48rpx;
height: 48rpx;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.Pixso-group-94_1288 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-rectangle-94_1289 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-color: transparent;
      }
.Pixso-vector-94_1290 {
        width: 87.5%;
height: 87.5%;
background-image: url(@/assets/images/usercircle0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;
      }
.Pixso-frame-94_1296 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.Pixso-paragraph-94_1297 {
        font-size: 19rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.5px;
line-height: 29rpx;
text-transform: uppercase;
color: rgba(148, 163, 184, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

