
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-94_1786 {
        width: 100%;
height: 1681rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(255, 255, 255, 1);
background-image: linear-gradient(90deg, rgba(247, 249, 251, 1) 0%, rgba(247, 249, 251, 1) 100%);
      }
.frame-content-94_1786 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 1px 0px;
height: 100%;
position: relative;
      }
.Pixso-frame-99_671 {
        width: 773rpx;
height: 1681rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1787 {
        width: calc(100% - 0px);
height: 1485rpx;
overflow: hidden;
position: absolute;
left: 0px;
right: 0px;
top: 123rpx;
overflow-y: auto;
      }
.Pixso-rectangle-99_685 {
        width: 773rpx;
height: 1640rpx;
position: absolute;
left: 0px;
top: 0px;
background-color: rgba(247, 249, 251, 1);
      }
.Pixso-frame-94_1788 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 46rpx 46rpx 46rpx 46rpx;
box-shadow: 0px 8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-94_1788 {
        display: flex;
flex-direction: column;
gap: 61rpx;
align-items: flex-start;
padding: 38rpx 46rpx 46rpx 46rpx;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-94_1788 {
        position: absolute;
left: 46rpx;
top: 729rpx;
width: 681rpx;
height: 729rpx;
display: flex;
padding: 1px 1px 1px 1px;
      }
.stroke-94_1788 {
        position: absolute;
inset: 0px;
border-radius: 46rpx 46rpx 46rpx 46rpx;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 0.30000001192092896);
      }
.Pixso-frame-94_1789 {
        width: auto;
height: auto;
position: absolute;
left: 46rpx;
top: 549rpx;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-94_1789 {
        display: flex;
flex-direction: row;
gap: 15rpx;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1790 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 23rpx 91rpx 23rpx 91rpx;
border-radius: 23rpx 23rpx 23rpx 23rpx;
background-color: rgba(236, 238, 240, 1);
      }
.Pixso-paragraph-94_1791 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(25, 28, 30, 1);
width: 91rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1792 {
        width: 273rpx;
height: 69rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 23rpx 113rpx 23rpx 113rpx;
border-radius: 23rpx 23rpx 23rpx 23rpx;
background-color: rgba(1, 89, 188, 1);
      }
.Pixso-rectangle-94_1793 {
        width: calc(100% - 0px);
height: calc(100% - 0px);
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
border-radius: 23rpx 23rpx 23rpx 23rpx;
box-shadow: 0px 8rpx 12rpx -1px rgba(0, 0, 0, 0.1) , 0px 4rpx 8rpx -4rpx rgba(0, 0, 0, 0.1) ;
background-color: rgba(255, 255, 255, 0.0020000000949949026);
      }
.Pixso-paragraph-94_1794 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(254, 252, 255, 1);
width: 47rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1795 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 23rpx 108rpx 23rpx 108rpx;
border-radius: 23rpx 23rpx 23rpx 23rpx;
background-color: rgba(236, 238, 240, 1);
      }
.Pixso-paragraph-94_1796 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(25, 28, 30, 1);
width: 58rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1797 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 23rpx 71rpx 23rpx 71rpx;
border-radius: 23rpx 23rpx 23rpx 23rpx;
background-color: rgba(236, 238, 240, 1);
      }
.Pixso-paragraph-94_1798 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(25, 28, 30, 1);
width: 130rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1799 {
        width: 588rpx;
height: 331rpx;
position: absolute;
left: 46rpx;
top: 157rpx;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-94_1799 {
        display: flex;
flex-direction: column;
gap: 62rpx;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1800 {
        width: 100%;
height: auto;
position: absolute;
left: 0px;
right: 0px;
top: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-94_1800 {
        display: flex;
flex-direction: column;
gap: 23rpx;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1801 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-94_1801 {
        display: flex;
flex-direction: row;
gap: 399rpx;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1802 {
        width: auto;
height: 23rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-94_1802 {
        display: flex;
flex-direction: column;
align-items: flex-start;
height: 100%;
position: relative;
      }
.Pixso-paragraph-94_1803 {
        font-size: 23rpx;
font-family: "Inter-Regular";
font-weight: 700;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(113, 119, 134, 1);
width: 107rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1804 {
        width: 50rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-94_1804 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-94_1805 {
        font-size: 23rpx;
font-family: "OPPOSans-Bold";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(0, 88, 188, 1);
width: 60rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1806 {
        width: 100%;
height: 23rpx;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(224, 227, 229, 1);
      }
.Pixso-rectangle-94_1807 {
        width: 82%;
height: calc(100% - 0px);
position: absolute;
left: 0%;
right: 18%;
top: 0px;
bottom: 0px;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(0, 88, 188, 1);
      }
.Pixso-frame-94_1808 {
        width: calc(100% - 0px);
height: 69rpx;
position: absolute;
left: 0px;
right: 0px;
top: 131rpx;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-94_1808 {
        display: flex;
flex-direction: column;
gap: 23rpx;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1809 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-94_1809 {
        display: flex;
flex-direction: row;
gap: 395rpx;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1810 {
        width: auto;
height: 23rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-94_1810 {
        display: flex;
flex-direction: column;
align-items: flex-start;
height: 100%;
position: relative;
      }
.Pixso-paragraph-94_1811 {
        font-size: 23rpx;
font-family: "Inter-Regular";
font-weight: 700;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(113, 119, 134, 1);
width: 94rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1812 {
        width: auto;
height: 23rpx;
position: absolute;
left: 505rpx;
top: 0px;
display: flex;
flex-direction: column;
align-items: flex-end;
      }
.frame-content-94_1812 {
        display: flex;
flex-direction: column;
align-items: flex-end;
height: 100%;
position: relative;
      }
.Pixso-paragraph-94_1813 {
        font-size: 23rpx;
font-family: "OPPOSans-Bold";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(0, 88, 188, 1);
width: 60rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1814 {
        width: 100%;
height: 23rpx;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(224, 227, 229, 1);
      }
.Pixso-rectangle-94_1815 {
        width: 70%;
height: calc(100% - 0px);
position: absolute;
left: 0%;
right: 30%;
top: 0px;
bottom: 0px;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(0, 88, 188, 1);
      }
.Pixso-frame-94_1816 {
        width: 100%;
height: auto;
position: absolute;
left: 0px;
right: 0px;
top: 262rpx;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-94_1816 {
        display: flex;
flex-direction: column;
gap: 23rpx;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1817 {
        width: 100%;
height: 23rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-94_1817 {
        display: flex;
flex-direction: row;
gap: 423rpx;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1818 {
        width: auto;
height: 23rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
      }
.frame-content-94_1818 {
        display: flex;
flex-direction: column;
align-items: flex-start;
height: 100%;
position: relative;
      }
.Pixso-paragraph-94_1819 {
        font-size: 23rpx;
font-family: "Inter-Regular";
font-weight: 700;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(113, 119, 134, 1);
width: 67rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1820 {
        width: 60rpx;
height: 23rpx;
position: absolute;
left: 505rpx;
top: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-94_1820 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-94_1821 {
        font-size: 23rpx;
font-family: "OPPOSans-Bold";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(0, 88, 188, 1);
width: 60rpx;
height: 23rpx;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-frame-94_1822 {
        width: 100%;
height: 23rpx;
overflow: hidden;
position: relative;
flex-shrink: 0;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(224, 227, 229, 1);
      }
.Pixso-rectangle-94_1823 {
        width: 85%;
height: calc(100% - 0px);
position: absolute;
left: 0%;
right: 15%;
top: 0px;
bottom: 0px;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(0, 88, 188, 1);
      }
.Pixso-frame-94_1824 {
        width: 588rpx;
height: auto;
position: absolute;
left: 46rpx;
top: 46rpx;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
      }
.frame-content-94_1824 {
        display: flex;
flex-direction: row;
gap: 238rpx;
align-items: center;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1825 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 15rpx;
align-items: center;
      }
.Pixso-vector-94_1826 {
        width: 35rpx;
height: 38rpx;
background-image: url(@/assets/images/Container43.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-paragraph-94_1828 {
        font-size: 35rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 48rpx;
color: rgba(25, 28, 30, 1);
width: 215rpx;
height: 50rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1829 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 46rpx 46rpx 46rpx 46rpx;
box-shadow: 0px 8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-94_1829 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 62rpx 62rpx 62rpx 62rpx;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-94_1829 {
        position: absolute;
left: 46rpx;
top: 31rpx;
width: 681rpx;
height: 671rpx;
display: flex;
padding: 1px 1px 1px 1px;
      }
.stroke-94_1829 {
        position: absolute;
inset: 0px;
border-radius: 46rpx 46rpx 46rpx 46rpx;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(193, 198, 215, 0.30000001192092896);
      }
.Pixso-frame-94_1830 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-94_1830 {
        display: flex;
flex-direction: column;
gap: 8rpx;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1831 {
        width: 558rpx;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.frame-content-94_1831 {
        display: flex;
flex-direction: column;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-paragraph-94_1832 {
        font-size: 46rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: -0.23999999463558197px;
line-height: 60rpx;
color: rgba(25, 28, 30, 1);
width: 383rpx;
height: 62rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1833 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.frame-content-94_1833 {
        display: flex;
flex-direction: column;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-paragraph-94_1834 {
        font-size: 31rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(113, 119, 134, 1);
width: 408rpx;
height: 46rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1835 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-94_1835 {
        display: flex;
flex-direction: column;
gap: 46rpx;
align-items: flex-start;
padding: 38rpx 0px 0px 0px;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1836 {
        width: 558rpx;
height: 12rpx;
position: relative;
flex-shrink: 0;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(224, 227, 229, 1);
      }
.Pixso-rectangle-94_1837 {
        width: 66.67%;
height: calc(100% - 0px);
position: absolute;
left: 0%;
right: 33.33%;
top: 0px;
bottom: 0px;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(0, 88, 188, 1);
      }
.Pixso-frame-94_1838 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(0, 88, 188, 1);
      }
.stroke-wrapper-94_1838 {
        position: absolute;
left: 66.67%;
top: 50%;
right: 27.54%;
width: 5.79%;
height: 31rpx;
transform: translateY(calc(-50% + 0px));
      }
.stroke-94_1838 {
        position: absolute;
inset: 0px;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
pointer-events: none;
border-width: 8rpx;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.Pixso-rectangle-94_1839 {
        width: 100%;
height: 31rpx;
position: absolute;
left: 0%;
right: 0%;
top: 50%;
transform: translateY(calc(-50% + 0px));
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
box-shadow: 0px 8rpx 12rpx -1px rgba(0, 0, 0, 0.1) , 0px 4rpx 8rpx -4rpx rgba(0, 0, 0, 0.1) ;
background-color: rgba(255, 255, 255, 0.0020000000949949026);
      }
.Pixso-frame-94_1840 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
      }
.frame-content-94_1840 {
        display: flex;
flex-direction: row;
gap: 388rpx;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-94_1841 {
        width: auto;
height: 23rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
      }
.frame-content-94_1841 {
        display: flex;
flex-direction: column;
align-items: center;
height: 100%;
position: relative;
      }
.Pixso-paragraph-94_1842 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Bold";
font-weight: 700;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(113, 119, 134, 1);
width: 74rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1843 {
        width: auto;
height: 23rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
      }
.frame-content-94_1843 {
        display: flex;
flex-direction: column;
align-items: center;
height: 100%;
position: relative;
      }
.Pixso-paragraph-94_1844 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Bold";
font-weight: 700;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.6000000238418579px;
line-height: 23rpx;
color: rgba(113, 119, 134, 1);
width: 69rpx;
height: 23rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1845 {
        width: 100%;
height: 123rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-94_1848 {
        width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
display: flex;
flex-direction: row;
gap: 62rpx;
align-items: center;
      }
.Pixso-frame-94_1849 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.Pixso-vector-94_1850 {
        width: 38rpx;
height: 35rpx;
background-image: url(@/assets/images/Container46.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
      }
.Pixso-frame-94_1852 {
        width: 123rpx;
height: 123rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
background-color: rgba(0, 88, 188, 1);
      }
.frame-content-94_1852 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-rectangle-94_1853 {
        width: 123rpx;
height: 123rpx;
position: absolute;
left: 0px;
top: 50%;
transform: translateY(calc(-50% + 0px));
border-radius: 19229rpx 19229rpx 19229rpx 19229rpx;
box-shadow: 0px 19rpx 29rpx -6rpx rgba(0, 0, 0, 0.1) , 0px 8rpx 12rpx -8rpx rgba(0, 0, 0, 0.1) ;
background-color: rgba(255, 255, 255, 0.0020000000949949026);
      }
.Pixso-vector-94_1854 {
        width: 35rpx;
height: 40rpx;
background-image: url(@/assets/images/Container45.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.Pixso-frame-94_1856 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
      }
.Pixso-vector-94_1857 {
        width: 38rpx;
height: 35rpx;
background-image: url(@/assets/images/Container44.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
      }
.Pixso-frame-94_1859 {
        width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 265rpx)) translateY(calc(-50% + 0px));
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
      }
.Pixso-vector-94_1860 {
        width: 28rpx;
height: 35rpx;
background-image: url(@/assets/images/Frame_94_1860.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-group-94_1861 {
        width: 540rpx;
height: 77rpx;
position: absolute;
left: 62rpx;
top: 538rpx;
      }
.Pixso-rectangle-94_1862 {
        width: 42rpx;
height: 15rpx;
position: absolute;
left: 323rpx;
top: 50%;
transform: translateY(calc(-50% + 0px));
border-radius: 54rpx 54rpx 54rpx 54rpx;
background-color: rgba(1, 89, 188, 1);
      }
.Pixso-rectangle-94_1863 {
        width: 40rpx;
height: 15rpx;
position: absolute;
left: 412rpx;
top: 50%;
transform: translateY(calc(-50% + 0px));
border-radius: 54rpx 54rpx 54rpx 54rpx;
background-color: rgba(1, 89, 188, 1);
      }
.Pixso-rectangle-94_1864 {
        width: 42rpx;
height: 15rpx;
position: absolute;
left: 498rpx;
top: 50%;
transform: translateY(calc(-50% + 0px));
border-radius: 54rpx 54rpx 54rpx 54rpx;
background-color: rgba(224, 227, 229, 1);
      }
.Pixso-group-94_1865 {
        width: 77rpx;
height: 77rpx;
position: absolute;
left: 0px;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-vector-94_1866 {
        width: 77rpx;
height: 77rpx;
background-image: url(@/assets/images/Ellipse_94_1866.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-vector-94_1867 {
        width: 33rpx;
height: 27rpx;
background-image: url(@/assets/images/Group_94_1867.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 23rpx;
top: 50%;
transform: translateY(calc(-50% + 0.13799381256103516px));
      }
.Pixso-paragraph-94_1874 {
        font-size: 23rpx;
font-family: "Source Han Sans CN-Medium";
font-weight: 500;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 46rpx;
color: rgba(113, 119, 134, 1);
width: 193rpx;
height: 38rpx;
position: absolute;
left: 106rpx;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-frame-99_427 {
        width: 54rpx;
height: 54rpx;
position: absolute;
left: 608rpx;
top: 27rpx;
      }
.Pixso-rectangle-99_429 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1921rpx 1921rpx 1921rpx 1921rpx;
box-shadow: 0px 4rpx 13rpx 0px rgba(0, 0, 0, 0.07999999850404028) ;
background-color: rgba(246, 248, 250, 1);
      }
.stroke-wrapper-99_429 {
        position: absolute;
left: 0%;
top: 0%;
right: 0%;
bottom: 0%;
width: 100%;
height: 100%;
      }
.stroke-99_429 {
        position: absolute;
inset: -0.25px -0.25px -0.25px -0.25px;
border-radius: 1921rpx 1921rpx 1921rpx 1921rpx;
pointer-events: none;
border-width: 0.5px 0.5px 0.5px 0.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(1, 89, 188, 1);
      }
.Pixso-vector-94_1875 {
        width: 46rpx;
height: 46rpx;
background-image: url(@/assets/images/bluetooth_connected.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4rpx;
top: 4rpx;
      }
.Pixso-frame-99_686 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 46rpx 46rpx 0px 0px;
box-shadow: 0px -8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-99_686 {
        display: flex;
flex-direction: row;
gap: 112rpx;
align-items: center;
justify-content: center;
padding: 23rpx 71rpx 46rpx 71rpx;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-99_686 {
        position: absolute;
left: 0px;
top: 1494rpx;
width: 773rpx;
height: 173rpx;
display: flex;
padding: 1px 0px 0px 0px;
      }
.stroke-99_686 {
        position: absolute;
inset: 0px;
border-radius: 46rpx 46rpx 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(226, 232, 240, 1);
      }
.Pixso-frame-99_687 {
        width: 137rpx;
height: 102rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 31rpx 31rpx 31rpx 31rpx;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-99_687 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 15rpx 38rpx 15rpx 38rpx;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-99_1396 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15rpx 38rpx 15rpx 38rpx;
      }
.Pixso-vector-99_1397 {
        width: 31rpx;
height: 35rpx;
background-image: url(@/assets/images/Container42.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-frame-99_1399 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8rpx 0px 0px 0px;
      }
.Pixso-paragraph-99_1400 {
        font-size: 19rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.5px;
line-height: 29rpx;
text-transform: uppercase;
color: rgba(148, 163, 184, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-99_693 {
        width: 137rpx;
height: 102rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 31rpx 31rpx 31rpx 31rpx;
background-color: rgba(239, 246, 255, 1);
      }
.frame-content-99_693 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 12rpx 37rpx 0px 38rpx;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-99_694 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8rpx 0px 0px 0px;
      }
.Pixso-vector-99_695 {
        width: 58rpx;
height: 58rpx;
background-image: url(@/assets/images/tvmusicnotem2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
margin-bottom: -1px;
      }
.Pixso-paragraph-99_697 {
        font-size: 19rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.5px;
line-height: 29rpx;
text-transform: uppercase;
color: rgba(1, 89, 188, 1);
margin-top: -1px;
width: 62rpx;
height: 29rpx;
position: relative;
flex-shrink: 0;
margin-bottom: -1px;
      }
.Pixso-frame-99_698 {
        width: 62rpx;
height: 29rpx;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.Pixso-frame-99_699 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15rpx 38rpx 15rpx 38rpx;
      }
.Pixso-frame-99_700 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8rpx 0px 0px 0px;
      }
.Pixso-frame-99_701 {
        width: 48rpx;
height: 48rpx;
position: relative;
flex-shrink: 0;
background-color: transparent;
      }
.Pixso-group-99_702 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-rectangle-99_703 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-color: transparent;
      }
.Pixso-vector-99_704 {
        width: 87.5%;
height: 87.5%;
background-image: url(@/assets/images/usercircle2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;
      }
.Pixso-frame-99_710 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
      }
.Pixso-paragraph-99_711 {
        font-size: 19rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0.5px;
line-height: 29rpx;
text-transform: uppercase;
color: rgba(148, 163, 184, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-99_672 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
box-shadow: 0px 8rpx 38rpx 0px rgba(0, 0, 0, 0.03999999925202014) ;
backdrop-filter: blur(15rpx);
background-color: rgba(255, 255, 255, 0.800000011920929);
      }
.frame-content-99_672 {
        display: flex;
flex-direction: row;
gap: 324rpx;
align-items: center;
justify-content: flex-start;
padding: 0px 46rpx 0px 46rpx;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-99_672 {
        position: absolute;
left: 0px;
top: 0px;
width: 773rpx;
height: 123rpx;
display: flex;
padding: 0px 0px 1px 0px;
      }
.stroke-99_672 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(226, 232, 240, 0.5);
      }
.Pixso-frame-99_673 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 23rpx;
align-items: center;
      }
.Pixso-frame-99_674 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-paragraph-99_675 {
        font-size: 38rpx;
font-family: "Source Han Sans CN-Regular";
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: -0.5px;
line-height: 54rpx;
color: rgba(15, 23, 42, 1);
width: 225rpx;
height: 54rpx;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-99_676 {
        width: 38rpx;
height: 38rpx;
background-image: url(@/assets/images/Bace3Iconchevrondown2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 265rpx;
top: 48rpx;
      }
.Pixso-vector-99_760 {
        width: 31rpx;
height: 31rpx;
background-image: url(@/assets/images/IconsPlus3.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 710rpx;
top: 46rpx;
      }

